<o-form-layout-manager attr="Sale" mode="tab" title="SALE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SaleTable" 
            service="Sale" 
            entity="Sale" 
            title="SALE"
            keys="id"
            columns="id;customer_id;salesperson_id;spaceship_id;sale_date;total_price" 
            header-actions="R;D"
            visible-columns="id;customer_id;salesperson_id;spaceship_id;sale_date;total_price"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="salesperson_id" title="salesperson_id">
    <o-table-cell-renderer-service attr="salesperson_id" 
        service="Salesperson" entity="SalespersonType" columns="id;name"
        parent-keys="id:salesperson_id"
        value-column="name" keys="salesperson_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="spaceship_id" title="spaceship_id">
    <o-table-cell-renderer-service attr="spaceship_id" 
        service="Spaceship" entity="SpaceshipType" columns="id;id"
        parent-keys="id:spaceship_id"
        value-column="id" keys="spaceship_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #sale_date attr="sale_date" type="timestamp" label="sale_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #total_price attr="total_price" title="total_price" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>