<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Manufacturer_form_edit" 
        service="Manufacturer" 
        entity="Manufacturer" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #country attr="country" label="country" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-date-input #founded attr="founded" type="timestamp" label="founded" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="SPACESHIPMANUFACTURERLINK-manufacturer_id">
    <div layout-padding>
      <o-table 
        attr="SpaceshipManufacturerLinkTable" 
        service="SpaceshipManufacturerLink" 
        entity="SpaceshipManufacturerLink" 
        keys="id"
        parent-keys="manufacturer_id:id"
        columns="id;manufacturer_id;spaceship_id"  
        horizontal-scroll="yes"
        detail-form-route="SpaceshipManufacturerLink" 
        edit-form-route="SpaceshipManufacturerLink"
        visible-columns="id;manufacturer_id;spaceship_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="manufacturer_id" title="manufacturer_id">
    <o-table-cell-renderer-service attr="manufacturer_id" 
        service="Manufacturer" entity="ManufacturerType" columns="id;name"
        parent-keys="id:manufacturer_id"
        value-column="name" keys="manufacturer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="spaceship_id" title="spaceship_id">
    <o-table-cell-renderer-service attr="spaceship_id" 
        service="Spaceship" entity="SpaceshipType" columns="id;id"
        parent-keys="id:spaceship_id"
        value-column="id" keys="spaceship_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="SPACESHIPMODEL-manufacturer_id">
    <div layout-padding>
      <o-table 
        attr="SpaceshipModelTable" 
        service="SpaceshipModel" 
        entity="SpaceshipModel" 
        keys="id"
        parent-keys="manufacturer_id:id"
        columns="name;manufacturer_id;capacity;price;id"  
        horizontal-scroll="yes"
        detail-form-route="SpaceshipModel" 
        edit-form-route="SpaceshipModel"
        visible-columns="name;manufacturer_id;capacity;price;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="manufacturer_id" title="manufacturer_id">
    <o-table-cell-renderer-service attr="manufacturer_id" 
        service="Manufacturer" entity="ManufacturerType" columns="id;name"
        parent-keys="id:manufacturer_id"
        value-column="name" keys="manufacturer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #capacity attr="capacity" title="capacity" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column #price attr="price" title="price" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>