<o-form-layout-manager attr="Spaceship" mode="tab" title="SPACESHIP">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SpaceshipTable" 
            service="Spaceship" 
            entity="Spaceship" 
            title="SPACESHIP"
            keys="id"
            columns="id;spaceship_model_id;status;year_manufactured" 
            header-actions="R;D"
            visible-columns="id;spaceship_model_id;status;year_manufactured"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="spaceship_model_id" title="spaceship_model_id">
    <o-table-cell-renderer-service attr="spaceship_model_id" 
        service="SpaceshipModel" entity="SpaceshipModelType" columns="id;name"
        parent-keys="id:spaceship_model_id"
        value-column="name" keys="spaceship_model_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #status attr="status" title="status" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #year_manufactured attr="year_manufactured" title="year_manufactured" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>